@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

:root {

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {

}

/* HEADER */
header {


}

/* MAIN */
main {
}

div.div-container-tabela {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

div.div-subcontainer-tabela {
	display: flex;
	gap: 10px;
}

div.div-info-tabela {
	display: flex;
	gap: 5px;
	flex-direction: column;
	flex-basis: 13%;
}

div.div-info-tabela > div {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

div.div-tabela {
	display: grid;
	min-height: fit-content;
	max-height: 1000px;
	min-width: 300px;
	max-width: 100%;
	gap: 5px;
}

div.div-tabela > div {
	align-items: center;
	justify-content: center;
	gap: 5px;
	padding: 5px;
}

div.div-tabela > div > input {
	width: 20px;
}

button.button-calcular-tabela {
	max-width: 13%;

}
	
div.tabela-output {
	display: grid;
	gap: 5px;
}

div.tabela-output > div {
	height: 50px;
	width: 50px;
	border: 2px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* FOOTER */
footer{


}