@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .menu-icon {
        @apply grid place-items-center border-2 border-zinc-100 rounded-lg hover:bg-zinc-100 hover:text-zinc-800 transition-all duration-200 cursor-pointer p-2 flex-grow w-full h-full  
    }

    .isPending {
        @apply w-full h-full
    }

    .form-button {
        @apply grid place-items-center border-2 border-zinc-800 rounded-lg w-full h-12 cursor-pointer hover:bg-zinc-800 hover:text-zinc-100 transition-all duration-200 hover:tracking-widest hover:shadow-xl
    }

    .item-list {
        @apply text-base p-2 rounded-lg border-2 bg-zinc-100 border-zinc-800 transition-all duration-200 cursor-pointer hover:bg-zinc-800 hover:text-zinc-100 hover:translate-x-1
    }

    .table-list {
      @apply p-1 border-2 border-amber-600
    }
}

/* Loading animation */
/* HTML: <div class="loader"></div> */
.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  clip-path: inset(-45px);
  box-shadow: -60px 15px,-60px 15px,-60px 15px;
  transform: translateY(-15px);
  animation: l19 1s infinite linear;
}
@keyframes l19{ 
  16.67% {box-shadow:-60px 15px,-60px 15px,19px 15px}
  33.33% {box-shadow:-60px 15px,  0px 15px,19px 15px}
  40%,60%{box-shadow:-19px 15px,  0px 15px,19px 15px}
  66.67% {box-shadow:-19px 15px,  0px 15px,60px 15px}
  83.33% {box-shadow:-19px 15px, 60px 15px,60px 15px}
  100%   {box-shadow: 60px 15px, 60px 15px,60px 15px}
}